@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

/*---BODY---*/
body {
	margin: 0;
	box-sizing: border-box;
	background-color:#ddd;
	font-family: 'Montserrat', sans-serif;
}
#main {
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 120px;
	background-color: #fff;
}

/*---HEADER--- */
header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	display: flex;
	background-color: #444;
	padding: 20px;
	z-index: 10;
}
header a {
	text-decoration: none;
}
#logo_container {
	height: 80px;
	width: 30%;
	display: flex;
}
#logo_container img {
	margin-left: 1vw;
	height: inherit;
	width: auto;
}
#logo_container h1 {
	color: #fff;
	margin-left: 1vw;
}

/*---MENU---*/
#menu_container {
	height: 80px;
	width: 65%;
}
#menu_container nav {
	float: right;
	width: 80%;
	display: flex;
	margin-right: 5vw;
	transform: translate(0, 10px);
	line-height: 60px;
	border-radius: 15px;
    background-color: #606060;
}
.menu {
	width: 20%;
	text-align: center;
	border-radius: 15px;
}
nav a {
	font-weight: 500;
	color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
section .center {
	text-align: center;
}
.menu:hover {
	background-color: #888;
}
#selected {
	background-color: #8A2B2B;
}
#selected:hover {
	background-color: #a72b2b;
}

/*---SECTIONS---*/
section {
	padding: 20px;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
article {
	margin-bottom: 20px;
	padding: 10px;
}
article h1, article h2, section strong {
	color: #426da9;
}
article h1 {
	font-size: 2em;
}
article h3, section a {
	color: #004677;
	font-weight: 500;
}
h2::before, h3::before, p#introduction::before {
	content: "";
	display: block;
	visibility: hidden;
	margin-top: -8rem;
	height: 8rem;
	z-index: -100;
}
article p {
	text-indent: 25px;
}
hr {
	margin: 0 auto;
	height: 4px;
	width: 70%;
	border-width: 2px;
	border-style: none;
	background-color: #426da9;
}

/*---IMAGES---*/
img {
	height: auto;
}
.img_accueil{
	max-width: 1160px;
}
figure {
	text-align: center;
}
.fig_left {
	float: left;
	text-align: left;
}
.fig_center {
	padding: 30px;
}
.fig_right {
	float: right;
	text-align: right;
}
.fig_left img, .fig_right img {
	width: 300px;
}
img.small {
	width: 100px;
}
.fig_center img {
	max-width: 800px;
}
.video_container {
	position: relative;
	padding-bottom: 50%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video_container iframe, .video_container object, .video_container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*---FOOTER---*/
footer {
	background-color: #003057;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
footer p {
	padding: 20px;
}
footer a {
	color: #fff;
}
#footer_content {
	height: 100%;
	width: 75%;
	color: #fff;
}
#theme_icon_container, #logoIUT_container {
	padding: 20px;
	box-sizing: content-box;
}
#theme_icon_container {
	max-width: 50px;
	margin-top: 50px;
}
#logoIUT_container {
	max-width: 10%;
	background-color: #ddd;
}
#Img_Theme, #logoIUT {
	margin: auto;
	max-width: 100%;
}

/*---DARK THEME---*/
.light {
	background-color: #333333;
}
.dark {
	background-color: #202124;
}
.darktheme {
	color: #fff;
	background-color: #333;
}
.darktheme section a, .darktheme section h3 {
	color:#2D68C4;
}
.darktheme #logoIUT_container {
	background-color: #555;
}

/*---RESPONSIVE---*/
@media only screen and (max-width: 1200px) {
	.img_accueil {
		max-width: 100%;
	}
}
@media only screen and (max-width: 1100px) {
	#menu_container {
		display: none;
	}
	.fig_left img, .fig_center img, .fig_right img {
		max-width: 100%;
	}
}
@media only screen and (max-width: 430px) {
	#main {
		padding-top: 100px;
	}
	#logo_container h1 {
		font-size: 1.5em;
		margin-left: 3vw;
	}
	#logo_container {
		height: 60px;
	}
	section {
		padding: 10px;
	}
	.figure_center {
		padding: 0;
		margin: 0;
	}
	.fig_left, .fig_right {
		float: none;
		width: 100%;
		margin: 0;
		max-width: 100%;
		text-align: center;
	}
	#footer_content {
		width: 100%;
	}
	#theme_icon_container {
		max-width: 100%;
		height: 100px;
		margin-top: 0;
		padding: 0 40%;
	}
	#logoIUT_container {
		max-width: 100%;
	}
	#Img_Theme {
		max-width: 100%;
	}
	#logoIUT {
		max-width: 90%;
	}
}